*.o
*.core
*.pyc
tags
ubervisor
config.h
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CMakeFiles
Makefile
uberdump_*
doc/build
*.un~
*.swp
_CPack_Packages
CPackConfig.cmake
CPackSourceConfig.cmake
*.deb
*.rpm
*.tar.gz
